<br><br><br><br><br><br>

<li>
	<h1 class="text-center">YOUR INTERVENTION FORM HAS BEEN SAVED <h1>
    <h1 class="text-center">CLICK ON INTERVENTION TO FILL A NEW ONE <h1>
    <div class="text-center bg-primary text-danger" ><%= link_to "INTERVENTIONS" , "#{root_path}interventions#interventions"%></div>
										
										
</li>


<br><br><br><br><br><br>